.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items to the top of the container */
    padding: 20px; /* Add padding around the container */
}

.leftnav {
    background-color: #333;
    width: 200px; /* Adjust the width as needed */
    padding: 20px;
    color: #fff;
    min-height: 100vh;
}

.content {
    margin-left: 20px; /* Add a margin to the left of the content */
    flex-grow: 1;
    padding: 20px; /* Add padding inside the content */
}
