body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    background-color: #f0f0f0;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: flex-start; /* Align content to the left */
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    padding-left: 0;
}

h1 {
    color: #333;
    font-size: 40px;
    line-height: 1.2;
}

.leftnav {
    background-color: #333;
    width: auto;
    min-width: 250px;
    padding: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    position: sticky; /* Make the left navigation sticky */
    top: 0; /* Stick to the top of the viewport */
}

.leftnav a {
    text-decoration: none;
    color: inherit;
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 10px;
    text-align: justify;
}

.leftnav a:hover {
    background-color: #04AA6D;
}
