body {
    background-image: url('Cleaninglady.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333; /* Font color for the entire page */
    background-color: #f0f0f0; /* Background color for the entire page */
}

.container {
    display: flex;
    height: 100vh; /* Take up the full viewport height */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center horizontally */
    justify-content: flex-start; /* Align elements at the top */
}

h1 {
    color: #333;
    font-size: 36px; /* Increase the font size */
    margin-top: 20px; /* Increase spacing above the h1 */
}

.leftnav {
    background-color: #333; /* Background color for the left navigation */
    width: 250px; /* Set the width of the leftnav */
    padding: 50px;
    text-align: justified;
}

.leftnav a {
    display: block;
    margin-bottom: 20px; /* Increase spacing between links */
    padding: 30px;
    text-decoration: none;
    color: #fff; /* Font color for the links */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.leftnav a:hover {
    background-color: #04AA6D;
    color: white;
}
