/* Reset margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    background-color: #f0f0f0;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column; /* Change flex direction to vertical */
    align-items: center; /* Center horizontally within the container */
    text-align: center; /* Center text in the container */
    padding: 20px; /* Add padding to the container */
}

h1 {
    color: #333;
    font-size: 24px; /* Adjust font size for mobile */
    line-height: 1.2;
    margin-bottom: 20px; /* Add margin at the bottom for spacing */
}

.leftnav {
    background-color: #333;
    width: 100%; /* Take full width of the container */
    padding: 20px;
    color: #fff;
    text-align: center; /* Center text in navigation links */
}

.leftnav a {
    text-decoration: none;
    color: inherit;
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 10px;
    display: block; /* Display navigation links as blocks for full width */
}

.leftnav a:hover {
    background-color: #04AA6D;
}
