body {
    background-image: url('Cleaninglady.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333; /* Font color for the entire page */
    background-color: #f0f0f0; /* Background color for the entire page */
    display: flex;
}

.leftnav {
    background-color: #333; /* Background color for the left navigation */
    width: 250px; /* Increase the width to make it bigger */
    padding: 20px;
}

.leftnav a {
    display: block;
    margin-bottom: 20px; /* Increase spacing between links */
    padding: 10px;
    text-align: left;
    text-decoration: none;
    color: #fff; /* Font color for the links */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.leftnav a:hover {
    background-color: #04AA6D;
    color: white;
}

.wrapper {
    flex: 1; /* Expand and take the remaining width */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent white background */
}

h1 {
    color: #333;
    text-align: center;
    font-size: 36px; /* Increase the font size */
    margin-bottom: 20px; /* Increase spacing below the h1 */
}
